# Data Processing
pandas
numpy
s3fs
pyarrow        

# Finance & API
yfinance

# Analyse Statistique & Économétrie
statsmodels
scipy
arch            # Pour les modèles GARCH
scikit-learn    # Pour LinearRegression et metrics

# Visualisation
matplotlib
seaborn